@media screen and (max-width: 425px) {
    #newWordTxtArea {
        width: 405px;
        height: 405px;
    }
}

@media screen and (max-width: 375px) {
    body h1 {
        font-size: 36px;
        padding: 40px 0;
    }
    #head {
        width: 340px;
        height: 260px;
    }
    #gallows {
        width: 250px;
    }
    #doll {
        width: 160px;
        top: 44px;
        right: 18px;
    }
    .key button {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
    #newWordTxtArea {
        width: 370px;
        height: 370px;
    }
}

@media screen and (max-width: 320px) {
    #head { 
        width: 300px;
        height: 220px;
    }
    #gallows {
        width: 220px;
    }
    #doll {
        width: 130px;
        top: 41px;
        right: 22px;
    }
    .key button {
        width: 21px;
        height: 21px;
        font-size: 10px;
    }
    #giveupBtns {
        width: 300px;
    }
    #newWordTxtArea {
        width: 315px;
        height: 315px;
    }
}
